.screen-header__icon{
    width: 24px;
    color: #2e363e;
}
.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 50px;
    margin-bottom: 15px;
    position:fixed;
    top:0;
    width: 100%;
    box-sizing: border-box;
    /*레이어 맨 위로*/
    z-index: 999;
    background-color: rgb(256,256,256);
}
.screen-header__title{
    font-size: 24px;
    font-weight: 600;
    color: #2e363e;
}
.screen-header__icons span{
    margin-left: 10px;
}
.screen-header__icons{
    position: relative;
}

.screen-header__icon__notification{
    left: 80%;
    top: -10%;
}