.screen-header__icon{
    width: 24px;
    color: #2e363e;
    position: relative;
}
.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 50px;
    margin-bottom: 15px;
    position:fixed;
    top:0;
    width: 100%;
    box-sizing: border-box;
    /*레이어 맨 위로*/
    z-index: 999;
    background-color: rgb(256,256,256);
}
.screen-header__title{
    font-size: 24px;
    font-weight: 600;
    color: #2e363e;
}
.screen-header__icons{
    display: flex;
    align-items: baseline;
    width: 60%;
    justify-content: flex-end;
}
@keyframes hoverCog {
    0% {
        transform: none;
    }
    100% {
        transform: scale(1.2);
    }
}
.screen-header__icons .screen-header__icon:hover{
    animation: hoverCog 0.1s ease-in-out forwards;
}
.screen-header__icons span{
    margin-left: 10px;
    position: relative;
}

.screen-header__icon__notification{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    left: 50%;
}