.status-bar{
    display:flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
    padding: 5px 10px;
    position:fixed;
    top:0;
    width: 100%;
    box-sizing: border-box;
    /*레이어 맨 위로*/
    z-index: 1000;
}
.status-bar__column {
    display: flex;
    align-items: center; /* 텍스트와 아이콘 수직 정렬 */
    width: 33%; /* 필요 시 축소 허용 */
}
.status-bar__column:nth-child(2) {
    justify-content: center; /* 가운데 정렬 */
}
.status-bar__column:nth-child(3) {
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.status-bar__column:first-child span, :last-child span {
    margin-right: 5px; /* 아이콘과 텍스트 사이 간격 */
}
.size-6{
    width: 18px;
}
.size-battery{
    width: 24px;
}
.size-charging{
    width: 10px;
}
.size-wifi{
    width: 20px;
}