.friends-screen{
    padding: var(--horizontal-space);
}

.divide-box{
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
.divide-box--small{
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e09f;
    margin-bottom: 10px;

}


.user-component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.user-component__column{
    display: flex;
    align-items: center;
}
.user-component__picture{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    color: #2e363e5f;
    margin-right: 15px;
}
.user-component__picture--large{
    width: 70px;
    height: 70px;
}
.user-component__picture--small{
    width: 50px;
    height: 50px;
}

.user-component__title{
    font-size: 20px;
    font-weight: 600;
    color: #2e363e;
}
.user-component__subtitle{
    font-size: 14px;
    color: #2e363e5f;
    margin-top:8px;
}
.chats__subtitle{
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chats__title{
    font-size: 18px;
    font-weight: 400;
}

.user-component__time{
    font-size: 14px;
    color: #2e363e5f;
    margin-bottom: 8px;
}
.user-component__column--right{
    display: flex;
    flex-direction: column;
    align-items: end;
}